<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.uim.autoapi.mapper.ApiResultMapper">

    <insert id="insertApiResult">
        INSERT INTO apiresult VALUES (null, #{casename}, #{url}, #{testversion}, #{testresult}, #{excutedate}, #{description});
    </insert>

    <select id="selectAllApiResult" resultType="ApiResult">
        select * from apiresult
    </select>
</mapper>